div {
    border: black;
    border-width: 1px;
    border-collapse: collapse;
    border-style: dotted;
    margin: 0.5%;
  }
  .Navigation-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d3d3d3;
  }
  body {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
  }
  
  .Navigation-li {
    float: left;
  }
  
  .Navigation-li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .Navigation-li a:hover {
    background-color: grey;
  }